<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Sub posts</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Sub Posts</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <p>Implement this page yourself. It is from sub.ejs</p>
      </div>
    </main>
  </body>
</html>
